/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}


/********************************/
/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
clear: both;
}

/******************************************
/* LAYOUT
/*******************************************/

html{
  font-family: 'Tiro Devanagari Sanskrit', serif;
  width: 100%;
  font-size: 1.1rem;
} 
#formPage{
  text-align: center;
  justify-content: center;
  margin: 20px;
}
.inputDesign{
  border-radius: 3px;
  padding: 4px;
}
button{
  color: black;
}

ul >li{
  text-decoration: none;
  list-style: none;
}
#coverForPage{
  background-image: url(../img/alexandra-golovac-kP8QyKwd1r0-unsplash.jpg);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(3px);
  background-repeat:  no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 500px; */
  padding: 20px;
  height: 600px;
}
#mainPage {
  display: flex;
}
img{
  width: 400px;
}
.SecondInner{
  margin-left: 30px;
}

@media screen and (max-width: 650px) {
  #mainPage{
    display: block;
  }
  html{
    font-size: 1rem;
  }
  h2{
    text-align: center;
  }
  .firstInner{
    text-align: center;
    /* align-items: center; */
    justify-content: center;
  }
  img{
    width: 80%;
  }
  #coverForPage{
    height: 1000px;
  }
}




/* html{
  font-family: 'Tiro Devanagari Sanskrit', serif;
  width: 100%;
  
  
}
body{
  background: url(../img/alexandra-golovac-kP8QyKwd1r0-unsplash.jpg);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(3px);
}
.firstInner{
  margin-bottom: 20px;
} 
h1{
  font-family: 'Corben', cursive;
}

.formPage{
  justify-content: center;
  text-align: center;
}

#mainPage{
  display: flex;
  margin-block-start: 40px;
  margin-inline-start: 30px;
  margin-inline-end: 60px;
  justify-content: center;
}
#mainPage section{
  margin-inline: 10px;
}
img{
  width: 500px;
  margin: 10px;
}
li{
  list-style: none;
}


@media screen and (max-width: 500px) {

  img{
    width: 300px;
    margin: 10px;
  }
  ul> li{
    justify-content: center;
    text-align: center;
    margin-left: -40px;

  }
} */

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
