/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}


/********************************/
/* Clear fix hack */
/* .clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
clear: both;
} */

/******************************************
/* LAYOUT
/*******************************************/

html{
  font-family: 'Tiro Devanagari Sanskrit', serif;
  /* width: 100%; */
  font-size: 1.1rem;
} 
#formPage{
  text-align: center;
  justify-content: center;
  margin: 20px;
}
.inputDesign{
  border-radius: 3px;
  padding: 4px;
}
button{
  color: black;
}

ul >li{
  text-decoration: none;
  list-style: none;
  font-size: 1.2rem;
}
h3{
  font-size:1.3rem;
}
body{
  background-image: url(../img/alexandra-golovac-kP8QyKwd1r0-unsplash.jpg);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(3px);
  background-repeat:  no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px;
}
#mainPage {
  display: flex;
  flex-direction: row;
}
img{
  width: 550px;
}
.SecondInner{
  margin-left: 30px;
}


@media screen and (max-width: 650px){
  body{
    height: 100%;
  }
  
  #mainPage{
    display: block;
  }

  html{
    font-size: 1rem;
  }
  h2{
    text-align: center;
  }
  .firstInner{
    text-align: center;
    justify-content: center;
  }
  img{
    width: 80%;
  }
  .inputDesign{
    margin-top: 5px;
  }
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
